<header>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        
        <div class="flex flex-1 justify-center sm:justify-start">
          <a href="/" class="text-white text-3xl font-bold px-3 py-2">aps3e</a>
        </div>

        <div class="hidden sm:block">
          <div class="flex space-x-4">
            <a href="#" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Home</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>
