<div class="bg-[url('/img/BackgroundDiscord.png')] bg-cover bg-center h-[31rem] transition delay-150 duration-300 ease-in-out">
  <div class="flex justify-center p-4">
    <p class="text-2xl text-white">Join The Community</p>
  </div>
  <div class="flex justify-center p-4">
    <a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded-full transition duration-300" href="https://discord.gg/TZmJjjWZWH">
      Join Now
    </a>
  </div>
</div>
