<div class="flex h-screen bg-[url('/img/BackgroundCommunity.png')] bg-contain bg-center h-[31rem] transition delay-150 duration-300 ease-in-out">
  <div class="flex flex-col justify-center items-center w-full h-full p-4">
    <p class="text-2xl text-white mb-4">Join The Community</p>
    <div class="flex space-x-4">
      <a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded-full shadow-lg hover:shadow-xl transition duration-300 flex items-center space-x-2" href="https://discord.gg/TZmJjjWZWH">
        <img src="icons/github.svg" class="w-5 h-5">
        <span>Join Discord</span>
      </a>
      <a class="bg-white hover:bg-gray-200 text-black font-bold py-2 px-4 rounded-full shadow-lg hover:shadow-xl transition duration-300 flex items-center space-x-2" href="https://www.reddit.com/r/aPS3e/">
        <img src="icons/reddit.svg" class="w-5 h-5">
        <span>Join Reddit</span>
      </a>
    </div>
  </div>
</div>
