<div class="bg-gray-500 transition delay-150 duration-300 ease-in-out">

<div class="flex justify-center p-4">
  <h4 class="text-3xl">Play without limits.</h4>
</div>

<div class="flex justify-center p-4">
  <img src="img/Screenshot.png" class="h-48 w-96">
</div>